@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  background: #585c68;
}



.wrapper .title {
  font-size: 20px;
  color: #3FBF58;
  font-weight: 100;
  text-align: center;
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .option_item {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 6px;
}

.container .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 30px 30px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 5px solid transparent;
  position: relative;
}

.option_item .option_inner .icon {
  margin-bottom: 10px;
}

.option_item .option_inner .icon .fab {
  font-size: 10px;
}

.option_item .option_inner .name {
  user-select: none;
}

.option_item .checkbox:checked ~ .option_inner.facebook {
  border-color: #25d366;
  color: #25d366;

}

.option_item .checkbox:checked ~ .option_inner.twitter {
  border-color: #E3B72F;
  color: #E3B72F;
}

.option_item .checkbox:checked ~ .option_inner.instagram {
  border-color: #e4405f;
  color: #e4405f;
}

.option_item .checkbox:checked ~ .option_inner.linkedin {
  border-color: #0077b5;
  color: #0077b5;
}

.option_item .checkbox:checked ~ .option_inner.whatsapp {
  border-color: #25d366;
  color: #25d366;
}

.option_item .checkbox:checked ~ .option_inner.google {
  border-color: #dd4b39;
  color: #dd4b39;
}

.option_item .checkbox:checked ~ .option_inner.reddit {
  border-color: #ff5700;
  color: #ff5700;
}

.option_item .checkbox:checked ~ .option_inner.quora {
  border-color: #b92b27;
  color: #b92b27;
}

.option_item .option_inner .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
}

.option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}

.option_item .option_inner.facebook .tickmark {
  border-color: #25d366 transparent transparent #25d366;
}

.option_item .option_inner.twitter .tickmark {
  border-color: #E3B72F transparent transparent #E3B72F;
}

.option_item .option_inner.instagram .tickmark {
  border-color: #e4405f transparent transparent #e4405f;
}

.option_item .option_inner.linkedin .tickmark {
  border-color: #0077b5 transparent transparent #0077b5;
}

.option_item .option_inner.whatsapp .tickmark {
  border-color: #25d366 transparent transparent #25d366;
}

.option_item .option_inner.google .tickmark {
  border-color: #dd4b39 transparent transparent #dd4b39;
}

.option_item .option_inner.reddit .tickmark {
  border-color: #ff5700 transparent transparent #ff5700;
}

.option_item .option_inner.quora .tickmark {
  border-color: #b92b27 transparent transparent #b92b27;
}