#input-search{
    width: 600px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
}

.content-search{
    width: 100%;
    height: 30vh;
    top: 60px;
    left: 0;
    background:white;
    display: none;
}

.content-table{
    width: 80%;
    max-height: 200px;
    height: auto;
    background: white;
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: white;
}

.content-table table{
    width: 100%;
}

tbody tr td a{
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
}

tbody tr td a:hover{
    background: #0c675e;
    color: white;
}

#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}
